.DeviceList {
  padding: 52px;
}

.DeviceList__last-updated {
  padding-top: 8px;
  text-align: center;
  color: var(--text-3);
}

.DeviceList__labels {
  display: grid;
  grid-template-columns: 2fr 4fr 12fr;
  gap: 16px;
  border-bottom: 1px solid var(--neutral-3);
  align-items: flex-end;
}

.DeviceList__device-count {
  color: var(--gray-4);
  font-size: 12px;
  line-height: 24px;
  text-align: center;
}

.DeviceList__line-header {
  color: var(--text-2);
  font-size: 14px;
  line-height: 24px;
}

.DeviceList__name-header {
  color: var(--text-2);
  font-size: 14px;
  line-height: 24px;
}

.DeviceList--grid-view {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 233px);
  gap: 24px;
}
