.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}

.Error {
  text-align: center;
  margin: 72px auto;
  max-width: 400px;
}

.Error__header {
  color: var(--text-3);
}

.Error__message {
  color: var(--text-2);
}
